@font-face {
  font-family: 'Mookmania';
  src: url('~roguefont/Mookmania.otf');
}

@font-face {
  font-family: 'MarkScript-Regular';
  src: url('~roguefont/languages/MarkScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'MasonAlternate';
  src: url('~roguefont/languages/dwarf.ttf');
}

@font-face {
  font-family: 'Furqan';
  src: url('~roguefont/languages/sand.ttf');
}

@font-face {
  font-family: 'Comforter Brush';
  src: url('~roguefont/languages/Comforter Brush.otf');
}

@font-face {
  font-family: 'FDMedian';
  src: url('~roguefont/languages/FDMedian.ttf');
}

@font-face {
  font-family: 'VizaviTYGRA';
  src: url('~roguefont/languages/VizaviTYGRA.ttf');
}

@font-face {
  font-family: 'Kautiva Cyrillic Black';
  src: url('~roguefont/languages/Kautiva Cyrillic Black.ttf');
}

@font-face {
  font-family: 'ALOT Gutenberg B Normal';
  src: url('~roguefont/languages/ALOT Gutenberg B Normal.ttf');
}

@font-face {
  font-family: 'Yuji Boku';
  src: url('~roguefont/languages/kazengunese.ttf');
}

@font-face {
  font-family: 'Deutsch Gothic';
  src: url('~roguefont/languages/Deutsch Gothic.ttf');
}

@font-face {
  font-family: 'Feronia';
  src: url('~roguefont/languages/etruscan.ttf');
}

@font-face {
  font-family: 'Jorvik Informal';
  src: url('~roguefont/languages/gronnic.ttf');
}

@font-face {
  font-family: 'Romeodn';
  src: url('~roguefont/languages/aavnic.ttf');
}
